.exp-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 99999;
  background-color: rgba(0,0,0,.8);
}

.exp-dialog {
  position: absolute;
  background-color: #fff;
}